@import "variables";
#header-info{
    display: none;
}
nav {
    background: $boja_pozadine;
    button#burger-btn {
        background: $boja_pozadine;
        border: 1px solid $boja_pozadine;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        
        div {
            height: 5px;
            width: 36px;
            background: $boja_teksta;
            border-radius: 3px;
        }
    } 
    ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;        
        display: none;
        li {
            padding: 3px;
        }
        li::after {
            content: "";
            display: block;
            // width: 250px;
            height: 1px;
            background: $boja_teksta;
        }
        a {
            text-decoration: none;
            font-weight: 700;
            color: $akcenat_boja;
            text-transform: uppercase;
        }
    }
}